<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title text-center">
          DIAGNÓSTICO PARA CONTRIBUIR A LA IGUALDAD DE GÉNERO EN EL PODER LEGISLATIVO DEL ESTADO DE MÉXICO
        </h6>
        <div class="d-flex justify-content-center">
            <div style="width: 1300px;">
              <div class="calendar-wrapper">
                <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>        
      </div>
    </div>
  </div>
</div>