<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Citas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Próximas citas</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Próximas citas</h6>
                <div class="p-2 text-white text-muted bg-light">
                    <strong>Fecha: {{fechaHoraActual}}</strong>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Total</th>
                                <th></th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <strong>Total pendientes: </strong></td>
                                <td>{{tpendientes}}</td>
                                <td> <strong>Total atendidos:</strong> </td>
                                <td>{{tatendidos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <div style="width: 1300px;">
                        <div class="calendar-wrapper">
                            <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #xlModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body w-100">
        <div class="p-2 text-white text-muted bg-light">
            <strong>Citas del dia:  {{ fechaFormateadaM }}</strong>
            <button class="btn btn-sm btn-primary ms-3" (click)="descargarPDF(2)">Descargar PDF Voluntariado</button>
            <button class="btn btn-sm btn-primary ms-3" (click)="descargarPDF(1)">Descargar PDF Congreso</button>

        </div>
        <br>
        @if (viewState === 'lista') {
            <div *ngIf="data?.horarios as horarios">
                <div *ngFor="let horario of horarios | keyvalue">
                    
                    <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>{{ horario.key }}</strong>
                        <span class="text-muted">({{ horario.value.length }} citas)</span>
                        <button class="btn btn-sm btn-outline-primary" (click)="toggleHorario(horario.key)">
                        {{ isVisible(horario.key) ? 'Ocultar' : 'Ver' }}
                        </button>
                    </div>

                    <div class="card-body" *ngIf="isVisible(horario.key)">
                        <div *ngIf="horario.value.length > 0; else sinCitas">
                        <div *ngFor="let cita of horario.value" class="border rounded p-2 mb-2">
                            <p><strong>Nombre:</strong> {{ cita.datos_user.nombre_completo }}</p>
                            <p><strong>Contacto:</strong> {{ cita.correo  }} | {{ cita.telefono }}</p>
                            <p><strong>Sede:</strong> {{ cita.Sede.sede }}</p>
                        </div>
                        </div>
                        <ng-template #sinCitas>
                        <p class="text-muted">Sin datos</p>
                        </ng-template>
                    </div>
                    </div>

                </div>
            </div>

        }@else if (viewState === 'enviar-link') {
            <div>
                <h5>Enviar link de reunión a: {{ selectedRow?.datos_user?.nombre_completo }}</h5>
                <form [formGroup]="formModal" class="forms-sample">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">Descripción:*</label>
                                <textarea formControlName="descripcion" class="form-control" id="descripcion"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">Enlace:*</label>
                                <textarea formControlName="textLink" class="form-control" id="textLink" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex align-items-start gap-2 mt-2">
                    <button class="btn btn-success" (click)="enviarDatos(selectedRow)">Enviar</button>
                    <button class="btn btn-secondary" (click)="viewState = 'lista'">Volver</button>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="button" id="focus-target" class="btn btn-secondary"
            (click)="modal.close('by: close button')">Cerrar</button>
    </div>
</ng-template>